/* Estilos para el elemento que contiene cada ToDo */
.TodoItem {
  background-color: #ffcc80; /* Cambiamos el color del fondo a un tono más atractivo */
  position: relative; /* Posicionamiento relativo */
  display: flex; /* Uso de flexbox para centrar el contenido */
  justify-content: center; /* Centrar el contenido horizontalmente */
  align-items: center; /* Centrar el contenido verticalmente */
  margin-top: 20px; /* Reducimos el margen superior para que se vea más compacto */
  box-shadow: 0 3px 10px #c512127e; /* Reducimos la sombra para que se vea más suave */
  border-radius: 15px; /* Reducimos el tamaño de los bordes redondeados */
  padding: 10px; /* Redimensionamos el relleno para hacer la caja más pequeña */
  transition: transform 0.2s ease; /* Agregamos una transición suave al elemento */
  color: #000000; /* Cambiamos el color del texto a blanco */
}

/* Estilos al pasar el cursor por encima del elemento */
.TodoItem:hover {
  transform: translateY(-2px); /* Al pasar el ratón por encima, elevamos ligeramente el elemento */
}

/* Estilos para el párrafo dentro del elemento ToDo */
.TodoItem-p {
  margin: 10px 0 10px 20px; /* Ajustamos el margen para un mejor espaciado */
  font-size: 18px; /* Tamaño de la fuente */
  line-height: 24px; /* Altura de línea */
  font-weight: 400; /* Grosor de la fuente (normal) */
}

/* Estilos para el párrafo cuando la tarea está completada (marcada como completada) */
.TodoItem-p--complete {
  text-decoration: line-through; /* Agregamos una línea tachada al texto */
}
