/* Estilos para el botón de creación de ToDo */
.ButtonCreateToDo {
  background-color: #fceb51d5;
  box-shadow: 0 8px 30px rgba(238, 13, 13, 0.795);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 50px;
  position: absolute;
  bottom: 24px;
  right: 24px;
  font-weight: 700;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  transform: rotate(0);
  transition: 0.3s ease;
}

.ButtonCreateToDo:hover {
  transform: rotate(224deg);
  /* Agregamos una sombra para dar profundidad */
  box-shadow: 0 8px 30px rgba(238, 13, 13, 0.795);
}
