/* Estilos para el cuadro de búsqueda de ToDos */
.TodoSearchTextBox {
  background: #f9fbfc;
  border-radius: 8px; /* Cambiamos el tamaño de los bordes redondeados */
  border: 2px solid #61dafa; /* Cambiamos el color del borde */
  margin: 0 24px;
  height: 48px; /* Reducimos la altura del cuadro de búsqueda */
  width: calc(100% - 48px); /* Reducimos el ancho del cuadro de búsqueda */
  font-size: 18px; /* Reducimos el tamaño del texto */
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #333; /* Cambiamos el color del texto */
  box-shadow: 0 3px 6px rgba(32, 35, 41, 0.1); /* Cambiamos la sombra para que sea más suave */
  transition: border-color 0.3s, box-shadow 0.3s; /* Agregamos transiciones suaves */
}

.TodoSearchTextBox::placeholder {
  color: #a5a5a5;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.TodoSearchTextBox:focus {
  outline: none; /* Quitamos el borde de enfoque predeterminado */
  border-color: #4caf50; /* Cambiamos el color del borde al enfocar */
  box-shadow: 0 3px 12px rgba(32, 35, 41, 0.2); /* Ajustamos la sombra al enfocar */
}

