/* Estilos para el elemento que contiene cada ToDo */
.TodoItem {
  background-color: #ffcc80; /* Cambiamos el color del fondo a un tono más atractivo */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Reducimos el margen superior para que se vea más compacto */
  box-shadow: 0 3px 10px #c512127e; /* Reducimos la sombra para que se vea más suave */
  border-radius: 15px; /* Reducimos el tamaño de los bordes redondeados */
  padding: 10px; /* Redimensionamos el relleno para hacer la caja más pequeña */
  transition: transform 0.2s ease; /* Agregamos una transición suave al elemento */
  color: #000000; /* Cambiamos el color del texto a blanco */
}

.TodoItem:hover {
  transform: translateY(-2px); /* Al pasar el ratón por encima, elevamos ligeramente el elemento */
}

.TodoItem-p {
  margin: 10px 0 10px 20px; /* Ajustamos el margen para un mejor espaciado */
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.TodoItem-p--complete {
  text-decoration: line-through;
}

.Icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px; /* Reducimos el tamaño del icono */
  width: 36px; /* Reducimos el tamaño del icono */
  font-size: 20px; /* Reducimos el tamaño del icono */
  font-weight: 700;
}

.Icon-check {
  position: absolute;
  left: 8px; /* Ajustamos la posición del icono de verificación */
}

.Icon-check--active {
  color: #4caf50;
}

.Icon-delete {
  position: absolute;
  top: -16px; /* Ajustamos la posición del icono de eliminar */
  right: 8px; /* Ajustamos la posición del icono de eliminar */
}

.Icon-delete:hover {
  color: red;
}
