/* Estilos para el contador de ToDos */
.Todo-Counter {
  font-size: 24px;
  text-align: center;
  margin: 30px;
  padding: 8px 16px;
  font-weight: 700;
  color: #333;
  background-color: #ffe082;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  line-height: 1.4;
  letter-spacing: 1px;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  font-family: 'Montserrat', sans-serif;
}

/* Nueva clase para representar el color de fondo verde cuando todas las tareas estén completadas */
/* Material Design styles for Todo-Counter with class 'all-completed' */
.Todo-Counter.all-completed {
  background: linear-gradient(135deg, #fda809, #dff70d);
  color: rgb(0, 0, 0);
  padding: 8px;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Add additional Material Design properties here, if needed */
}
