body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(135deg, #f0e446, #ff933a);
  color: #070707;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 10px;
  position: relative;
  min-height: 95vh;
}

